
// @import '../fonts/Open Sans/styles.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');




/* Main ========================== */
body {
	font-family: 'Open Sans', sans-serif;
	color: #231f20;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}




/* Post ========================== */
.post {
	.columns.content  {
		min-height: 520px;
		padding: 90px 110px;
		h3 { 
			font-weight: 600;
  			font-size: 18px;
			line-height: 24px;
			color: #5d5d5e;
		}
		p { 
			font-weight: 400px;
			font-size: 14px;
			line-height: 18px;
			color: #5d5d5e;
		}
		a { 
			display: inline-block;
			height: 26px;
			padding-right: 12px;
			font-size: 12px;
			line-height: 18px;
			color: #ef6b1f; 
			background: url(../img/arrow-orange.png) right bottom no-repeat;
			&:hover,
			&:focus {
				color: #b4b4b4;
			}
			.disabled {
				color: #b4b4b4;
				background: none;
			}
		}
	}
	.facts {
		h6 {
			display: inline-block;
			margin: 0;
  			padding: 30px 10px 30px 30px;
  			font-size: 90px;
  			line-height: 90px;
		}
		p {
			display: inline-block;
  			font-size: 18px;
  			line-height: 27px;
		}
		&.orange {
			h6,
			p {
				color: #ef6b1f;
			}
		}
		&.white {
			h6,
			p {
				color: #fff;
			}
		}
		
	}
}




/* Header ========================== */
#header  {
	width: auto;
	.logolink {
		display: inline-block;
		margin: 40px 0 0 80px;
	}
	.logoimg {
		max-height: 64px;
	}
}




 
/* Nav ========================== */
#wrapper #mobile-menu {
	width: 240px;
	padding: 20px;
	background: rgba(243, 109, 33, 1.0);

	#panel-close {
    	position: absolute;
    	top: 50%;
    	left: 20px;
    	right: auto;
    	width: 24px;
    	height: 24px;
    	background-size: 24px 24px;
    	z-index: 10;
	}

	.menu-container {
		height: 100%;
		padding-left: 60px;
	}
	.menu-holder {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.menu-logo {
		margin: 0;
		text-align: left;
		opacity: 0.8;
		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.mobile-menu {
	  	text-align: left;
	  	margin-top: -50px;
	  	li a {
			font-size: 14px;
			line-height: 35px;
			color: #fff;
			opacity: 0.8;
			&:hover,
			&:focus {
				opacity: 1;
			}
		}
	}
	
	.menu-langs {
		display: inline-block;
		margin: 0;
		list-style: none;
		text-align: left;
		li {
			width: 100%;
  			margin: 0px;
			height: 20px;
			a {
				font-size: 14px;
				line-height: 14px;
  				color: #fff;
				text-transform: lowercase;
  				opacity: .8;
  				&:hover,
				&:focus {
					opacity: 1;
				}
			}
		}
	}
}
	
#panel-toggle {
	position: fixed;
  	top: 50%;
  	left: 0px;
  	width: 40px;
  	height: 40px;
  	padding-left: 20px;
  	background: #F36D21; 
	z-index: 998;
	span {
		height: 1px;
		&:nth-child(1) {top: 10px;}
		&:nth-child(2) {top: 20px;}
		&:nth-child(3) {top: 30px;}
	}
}





/* Slider ========================== */
#welcome {
	p {
		display: inline;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
  		font-size: 40px !important;
		line-height: 50px !important;
		background: rgba(255,255,255,1) !important;
	}
}

#service {
	p {
		display: inline;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
  		font-size: 30px !important;
		line-height: 36px !important;
		background: rgba(255,255,255,1) !important;
	}
}






/* Portfolio ========================== */
#portfolio {
	.overlay-effect {
		.overlay {
			padding: 15px 20px;
			text-align: left;
			opacity: 1;
			background: rgba(0, 0, 0, 0);
			-webkit-transition: all .5s ease-in-out;
  			transition: all .5s ease-in-out;
  			> div {
				display: flex;
				align-items: flex-end; 
			}
			> div > div {
				display: initial;
				width: 100%; 
			}
			.post-title {
				transform: initial !important;
				opacity: 1 !important;
				width: 40%; 
				h3 {
					margin: 0;
					font-size: 18px;
					line-height: 19px;
					font-weight: 400;
					text-transform: lowercase; 
				}
			}
			.post-meta {
				opacity: 1 !important;
				transform: initial !important;
				font-size: 14px;
    			text-transform: lowercase;
			}
			.post-arw {
				opacity: 1 !important;
				transform: initial !important;
				width: 60%;
  				height: 24px;
  				background: url(../img/arrow-white.png) left center no-repeat; 
			}
		}
		&:hover,
		&:focus {
			.overlay { 
				background: rgba(0, 0, 0, 0.5); 
			}
		}
	}
}





/* Details ========================== */
.details.right {
	.wpb_text_column {
		padding: 100px;
	}
	h3 { 
		margin-bottom: 100px;
		font-weight: 600;
  		font-size: 18px;
		line-height: 24px;
		color: #ef6b1f;
	}
	p { 
		font-weight: 300px;
		font-size: 14px;
		line-height: 18px;
		color:  #231f20;
	}
	.carousel {
		width: 360px;
		margin: 0 auto;
		.owl-controls {
			margin-top: 20px;
		}
	}
}

.carousel .owl-controls .owl-pagination {
    bottom: 0;
}



/* Technology ========================== */
#technology {
	.columns.left {
		
	}
	.columns.right {
		.white {
			position: relative;
			.wpb_text_column {
				position: absolute;
    			left: 20px;
    			bottom: 0;
			}
		}
	}
	.columns.content {
		.wpb_text_column {
			min-height: 90px;
			a {
				float: right;
				&.disabled {
					color: #b4b4b4;
					background: none;
				}
			}
		}
		
	}
}

#facts-left-image {
	height: 100%;
}


/* Company ========================== */
#company {
	.columns.left {
		.facts {
			h6 {
				height: 100%;
				padding: 30px 30px 30px 10px;
			}
			.wpb_text_column {
				position: absolute;
    			right: 20px;
    			bottom: 0;
    			text-align: right;
			}
		}
	}
	.columns.right {

	}
	.columns.content { 
		padding-top: 160px;
	}
	
}

#facts-left-bottom {
	height: 100%;
}








/* Contact ========================== */
#contact {
	.columns.content {
		padding-bottom: 0;
		text-align: left;
		h3 {
			margin-bottom: 40px;
			color: #ef6b1f;
		}
		p {
			margin-bottom: 20px;
			color: #231f20;
		}
		a {
			background: url(../img/arrow-orange-long.png) right bottom no-repeat;
		}
	}
	.contact_map {
		display: none !important;
	}
}
	




/* Footer ========================== */
#footer {
	padding: 20px 80px;
	background: #F36D21;
	.center {
		text-align: center;
	}
	p {
		margin: 0 0 10px 0;
    	padding: 0;
    	font-size: 18px;
    	line-height: 24px;
    	font-weight: 300;
    	color: #fff;
	}
	.vc_icon_element {
		display: inline;
		margin: 0 2px;
		.vc_icon_element-size-xs {
  			// width: 1.5em !important;
  			// height: 1.5em !important;
  			display: inline-block;
		}
	}
}










/* Feedback ========================== */
#feedback {
	display: none !important; 
	.wpb_text_column {
		padding: 80px 60px 0 0;
		text-align: right;
		h3 {
			display: inline-block;
			color: #F36D21;
			border-bottom: 1px solid #F36D21;
		}
	}
	.wpcf7-form {
		margin-bottom: 80px;
		position: relative;
		.row {
			display: flex;
			align-items: flex-end;
		}
		.row.line {
			border-bottom: 1px solid #BCBEC0;
		}
		.row.first .columns,
		.row.last .columns {
			height: 160px;
		}
		.wpcf7-form-control {
			width: 100%;
			margin: 0;
			background: transparent;
			padding: 20px 0 0 0;
    		height: 40px;
    		&:focus {
				background: rgba(215,215,215,.1);
			}
			&.wpcf7-submit {
				width: 100px;
    			border: none;
    			text-align: left;
    			height: 50px;
    			text-transform: lowercase;
    			text-decoration: none;
    			letter-spacing: 0;
    			font-weight: 300;
    			font-family: 'Open Sans', sans-serif;
    			background: url(../img/feedback-arw.png) left bottom no-repeat;
    			&:hover,
				&:focus {
					color: #000;
				}
			}
		}
		label {
			margin: 0;
			text-transform: lowercase;
		}
		.left-part {
			width: 10%;
			padding: 0 40px 0 0;
		}
		.right-part {
			width: 90%;
			background: #EDEDED;
		}
	}
	.wpcf7-not-valid {
		-moz-box-shadow: 0px 1px 0px #cb2027;
  		-webkit-box-shadow: 0px 1px 0px #cb2027;
  		box-shadow: 0px 1px 0px #cb2027;		
	}
	.wpcf7-response-output {
		display: block;
  		position: absolute;
  		bottom: 0;
  		left: 0;
  		border: 0;
  		margin-left: 10%;
		padding-left: 0 !important;
	}
	.wpcf7-mail-sent-ng,
	.wpcf7-validation-errors {
		color: #cb2027;
	}
}



/* Media Queries ========================== */

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 

	#panel-toggle {
		left: -20px;	
	}

	#header .logolink {
		margin: 20px 0 0 20px;
	}

	#wrapper #mobile-menu {
		padding: 20px 20px 40px 20px;
	}

	.post .columns.content  {
		min-height: 100%;
		padding: 40px 20px;
	}

	.details.right {
		.wpb_text_column, {
			padding: 10%;
		}
		h3 { 
			margin-bottom: 10%;
		}

		#carousel,
		.carousel {
			width: 360px;
			margin: 0 auto;
		}
	}

	#technology .center a { 
		margin-top: 0px;
	}

	#technology .columns.left img {
		position: relative;
	}

	#company .columns.content { 
		padding-top: 40px;
	}

	#portfolio .overlay-effect .overlay .post-meta,
	#portfolio .overlay-effect .overlay .post-title {
		width: 80%; 
	}


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { 

	

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	
	.post {
		.columns.content  {
			min-height: 100%;
			min-height: auto;
			padding: 50px 70px;
			
		}
		.facts {
			h6 {
    			padding: 10px 5px;
    			font-size: 60px;
    			line-height: 60px;
			}
			p {
    			font-size: 14px;
    			line-height: 15px;
			}
		}
	}

	#welcome,
	#service {
		.tp-caption {
			max-width: 400px !important;
		}
	}


	#technology {
		.columns.content {
			.wpb_text_column {
    			min-height: 70px;
			}
		}
	}

	#company {
		.columns.content {
    		padding-top: 70px;
		}
	}

	#contact {
		.contact_map {
			min-height: 450px !important;
		}
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { 



} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 

	.post {
		.columns.content  {
			// min-height: 100%;
			// min-height: auto;
			padding: 50px 70px;
			
		}
		.facts {
			h6 {
    			padding: 10px;
    			font-size: 70px;
    			line-height: 70px;
			}
			p {
    			font-size: 14px;
    			line-height: 23px;
			}
		}
	}

	#welcome,
	#service {
		.tp-caption {
			max-width: 600px !important;
		}
	}

	#technology {
		.columns.content {
			.wpb_text_column {
    			min-height: 70px;
			}
		}
	}

	#company {
		.columns.content {
    		padding-top: 100px;
		}
	}

	#contact {
		.contact_map {
			min-height: 450px !important;
		}
	}



} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
	
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */